# ==============================================================================
# Stage 2: Terraform Variables
# ==============================================================================
# Copy to terraform.tfvars and fill in your values
# ==============================================================================

do_token          = "dop_v1_your_token_here"
letsencrypt_email = "your-email@example.com"

# Optional overrides
# api_domain    = "api.errandy.com"
# registry_name = "errandy"
